body{
  color: #fff;
  background-color: #181921;
  font-family: 'Merriweather', 'Open Sans', sans-serif;
  margin: 0 auto;

}

h1, h2, h3{
  font-family: 'Merriweather';
  color: #181921;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
} 

.clearfix:after {
    clear: both;
}

/********************************* block 1 **************************************/

#logo{
  text-align: center;
  margin: 20px auto;
}

nav{
  margin: 0 auto;
}

nav ul{
  text-align: center;
  padding-left: 0px;
  margin: 0 auto;

}

nav ul li {
  display: inline-block;
  margin: 0px 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

nav a:hover, 
 .current_page{
    color: #c92c39;
}


/********************************* block 2 **************************************/


#gallery figure{
  float: left;
  text-align: right;
  margin: 0 auto;
}

#slider{
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#slider figure{
  position: absolute;
  margin: 0;
}


/********************************* block 3 **************************************/

#block3{
  background-color: #272229;
  margin: 0 auto;
  }


#welcome h1{
  margin: 0 auto;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 100;
}

#welcome p{
  font-family: 'Open Sans';
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

/********************************* block 4 **************************************/

#block4{
  background-color: #F7F4ED;
  margin: 0 auto;
  }

#card_container{
  margin: 0 auto;
}

.card{
  width: 350px;
  float: left;
  background-color: #fff;
  padding: 20px;
  margin: 30px 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card img{
  margin: 20px auto;
}

.card h2{
  color: #181921;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
.card p{
  color: #181921;
  text-align: left;
  font-family: 'Open Sans';
  margin: 0 auto;
  padding-bottom: 20px;
  
}

#middle{
  margin: 30px 15px;

}

#middle ul{
   padding-left: 0px;
   padding-bottom: 10px;
   margin: 0px auto;
}

#middle ul li{
  color: #181921; 
  font-family: 'Open Sans';
  text-decoration: none;
  display: inline-block;
  padding-right: 90px;
}

.btn-margin a{
  margin-top: 12px;
}

.myButton,
input[type=submit] {
  background-color:#fff;
  border:1px solid #181921;
  display:inline-block;
  cursor:pointer;
  color:#c92c39;
  font-family: 'Open Sans';
  font-size:14px;
  font-weight:bold;
  padding:2px 10px;
  text-decoration:none;
}


/********************************* block 5 **************************************/

#block5{
  margin: 0 auto;
}

.d{
  float: left;
}

.textbox{
  margin-top: 4px;
  width: 150px;
  height: 15px;
}

#er{
  box-sizing: border-box;
  padding: 10px 0px;
}

.d h3{
	color: #fff;
}

.d ul{
  padding: 0px;
}
.d ul li {
  display: block;

}
.d ul li a{
  text-decoration: none;
  color: #fff;
}

#address {
  box-sizing: border-box;
  padding-left: 180px;
}

#sitemap{
  box-sizing: border-box;
  padding-left: 180px;
}

#sitemap li a:hover {
    color: #c92c39;
}

#social-media {
  box-sizing: border-box;
  padding-left: 190px;
}

#social-media img {
  margin: 0 10px 0px 0px;
}

#copyrights{
  text-align: center;
  color: #c92c39;
  font-size: 14px;
}

/********************************************************************************/

                               /* Rrestorant page*/

/********************************************************************************/

#restaurant_bg{
  background-color: #F7F4ED;
  margin: 0 auto;
  color: #000;
}

#restaurant{  /*box shadow for elements tag*/
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 30px 0px;
  padding: 20px;
  background-color: #fff;

}

#restaurant_title{
  border-bottom: 1px solid #E5E5E5;
}

#restaurant_title h2{
float: left;
margin: 10px 0px;
font-family: 'Merriweather';
color: #181921;

}

#restaurant_img img{
  display: block;
  margin: 20px auto;
}

#restaurant_info1 p{
  margin-top: 5px;
 font-family: 'Open Sans'; 
}

.contact_info2{
  float: left;
  width: 420px;
  font-family: 'Open Sans';
}

#dining{
  margin: 20px 0px;
}

/********************************************************************************/

                               /* Rooms page*/

/********************************************************************************/

#title-img{
  margin: 0 auto;
  background: url(../images/city2.jpg) center;
  height: 150px;
}

#body_bg{
  background-color: #F7F4ED;
  margin: 0 auto;
  }

#rooms_container{
  margin: 10px auto;
}

.rooms{
  width: 350px;
  float: left;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0px 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.rooms img{
  margin: 10px auto 0px;
  display: block;
}

.rooms h3{
  color: #181921;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
  float: left;
}

.rooms ul{
   padding-left: 0px;
   padding-bottom: 10px;
   margin: 0px auto;
}

.rooms ul li{
  color: #181921; 
  font-family: 'Open Sans';
  text-decoration: none;
  display: inline-block;
  padding-right: 90px;
}

.rooms p{
  color: #181921;
  text-align: left;
  font-family: 'Open Sans';
  margin: 0 auto;
  padding-bottom: 20px;
  
}

.category{
  color: #c92c39;
}

#center_padding{
  margin: 20px 15px;
}

.room_details {             /*button*/
  background-color:#fff;
  border:1px solid #181921;
  display:inline-block;
  cursor:pointer;
  color:#c92c39;
  font-family: 'Open Sans';
  font-size:14px;
  font-weight:bold;
  padding:4px 8px;
  text-decoration:none;
}

/*********************************** model window ******************/

.is-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  color: #000;
  padding: 20px 30px;
  width: 1300px;
  position: relative;
  margin: 2% auto 0;
  background: #fff;
}

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url(../images/close.png);
}

/************************************************************/
.model_title{
  border-bottom: 1px solid #E5E5E5;
}

.model_title h2{
float: left;
margin-bottom: 10px;
font-family: 'Merriweather';
color: #181921;

}
.model_title h3{
float: right;
margin-bottom: 10px;
margin-top: 27px;
font-family: 'Merriweather';
color: #181921;
}

.model_img img{
  display: block;
  margin: 20px auto;
}

.model_info1{
  float: left;
  width: 800px;
  margin: 0px 20px;
}

.model_info1 p{
  margin-top: 5px;
 font-family: 'Open Sans'; 
}

.model_info2{
  float: left;
  width: 360px;
  font-family: 'Open Sans';
}

.model_info2 h3{
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: 'Merriweather';
  color: #181921;
}

.model_info2 ul {
  padding-left: 15px;
  margin: 0px;
}
/********************************************************************************/

                             /* facilities page*/

/********************************************************************************/
#facilities_body{
  background-color: #F7F4ED;
  margin: 0 auto;
  color: #fff;
}

#about_title h2{
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E5E5E5;
}

#p h2{
  margin-top: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E5E5E5;
}

.hotel_img {
  float: left;
}

.hotel_img img {
  display: block;
}

.hotel_img p {
  color: #181921;
  font-family: 'Open Sans';
  width: 660px;
  padding: 5px 10px 0px;
  margin-top: 0px;
}

#box_shadow{  /*box shadow for elements tag*/
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 30px 0px;
  padding: 20px;
  background-color: #fff;

}

/***********************************************************/


#pad_left2, #pad_left3, #pad_left4{
margin-left: 26.6px;
margin-bottom: 20px;
}

#pad_left6, #pad_left7, #pad_left8 {
  margin-left: 26.6px;
}

#pad_left1, #pad_left5 {
  margin-left: 0;
}

figcaption h2{
  color: #fff;
}

#service p{
   font-family: 'Open Sans';
}

 .serve figure {
  float: left;
  position: relative;
  overflow: hidden;
  font-size: 0;
  margin-right: 0;
  width: 270px;
  height: 200px;
  background-color: #181921;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

 .serve figure figcaption {
  font-size: 14px;
  position: absolute;
  bottom: calc(45px - 100%);
  width: 100%;
  height: 100%;
  background: rgba(24, 25, 33, 0.8);
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: bottom .5s;
}

/*figure figcaption:hover {
  bottom: 0;
}
*/
 .serve figure figcaption h2 {
  text-align: center;
  margin: 0;
}

 .serve figure:hover figcaption{
  bottom: 0;
}

 .serve figure img{
  width: 100px;
  height: 100px;
  display: block;
  margin: 35px auto;
}


/********************************************************************************/

                             /* booking page*/

/********************************************************************************/

#booking_bg{
  background-color: #F7F4ED;
  margin: 0 auto;
}

#form_container{
  margin: 30px 0px;
  float: left;
  color: #181921;
  background-color: #fff;
  width: 750px;
  padding: 20px;
  box-sizing:border-box;
  /*box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.10);*/
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}

#form_container h1{
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 8px;
}

.controls{
  margin: 20px 0px;
}

/***********************************/

.form-label {
    width: 150px;
    float: left;
    display: inline-block;
    text-align: left;
    padding: 3px;
    white-space: normal;
    font-weight: bold;
    margin-bottom: 9px;
    color: #444;
}

.form-textbox {
    padding: 5px;
    margin-left: 0px;
    border: 1px solid #aaa;
    box-shadow: 0px 1px 2px #EEE inset;
    /*line-height: 1.071em;*/
    /*font-size: 1em;*/
}

.form-sub-label-container {
    display: inline-block;
    margin-right: 5px;
}
.form-sub-label {
    font-size: 0.786em;
    margin-top: 3px;
    display: block;
    color: #999;
}

.form-label_checkbox{
  float: left;
  display: inline-block;
  text-align: left;
  padding: 3px;
  white-space: normal;
  font-weight: bold;
  margin-bottom: 9px;
  color: #444;
}

#terms-and-conditions{
  margin-top: 7px;
}

/***********************************************/

.form-dropdown {
    padding: 3px;
    margin-left: 0px;
    border: 1px solid #aaa;
    box-shadow: 0px 1px 2px #EEE inset;
    width: 100px;
    /*line-height: 1.071em;*/
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../images/arrowdown.png") no-repeat 95% 50%;
}


select {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    border-radius: 0px;
}

select[name='select_room']{
  width: 150px;
}

select[name='arrival-year'], [name='departure-year']{
  width: 60px;
}

select[name='arrival-day'], [name='departure-day'], [name='adult'], [name='children']{
  width: 50px;
}


/********************************************/
.danger {
  background-color: #fcc;
  color: #c00;
  font-size: 0.8em;
  padding: 0.4em;
  border-radius: 3px;
}

span #departure-year-error .danger{
  margin-bottom: 5px;
}

.form-group {
  margin: 1em 0;
  position: relative;
}

/********************************/

#contact_detail{          /*side pannel for phone and email discriptipn*/
  float: right;
  margin: 30px 20px;
  padding: 20px;
  box-sizing:border-box;
  background-color: #fff;
  width: 370px;
  height: 500px;
  color: #555;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#contact_detail h1, h2{ 
color: #181921;
}

#contact_detail p{ 
color: #444;
}

/********************************************************************************/

                             /* contact page*/

/********************************************************************************/

#contact_shadow{  /*box shadow for elements tag*/
  float: left;
  color: #444;
  background-color: #fff;
  /*width: 750px;*/
  padding: 20px;
  box-sizing:border-box;
  margin: 30px 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#contact_body{
  background-color: #F7F4ED;
  margin: 0 auto;
}

.contact_title h2{
  color: #181921;
  /*margin-top: 10px;*/
  padding-bottom: 8px;
  border-bottom: 1px solid #E5E5E5;
}

#contact{
  float: left;
  margin: 20px 0px;
}

#contact p{
  line-height: 5px;
}

#contact h5{
  margin: 0px;
}

.quick_contact{
  padding-top: 20px;
  box-sizing:border-box;
}

.country{
  width: 373.3px;
  float: left;
}

.country h2{
  color: #181921;
}

#country_margin{
  margin: 0px 20px;
}

.contact_hotel iframe{
    margin: 0;
    padding: 0;
    border: none;
    width: 1160px;
    height: 350px;
}


@media print {
  
  nav, footer {
    display: none;
  }

  #contact_shadow, .card, #form_container, #contact_detail{ 
    box-shadow: none;
  }

  #logo, #title-img, .myButton, input[type=submit]{
  display: none;
}

/***********************************/
#block3, #welcome h1{
  color: #000;
  }

  #welcome h1{
  margin-right: 50px;
  }

  #block3 p{
  width: 900px;
  margin-right: 200px;
  }


.card{
  width: 325px;
}

.card img{
  margin: 20px auto;
  width: 300px;
  height: 150px;
}

.card h2{
  margin-right: 30px;
}

/*************************************/

#booking_bg{
  font-size: 20px;
}

#contact_detail{          /*side pannel for phone and email discriptipn*/
  width: 500px;
  float: left;
  border: none;
  
}

.form-label {
    width: 250px;
    float: left;
    display: inline-block;
    text-align: left;
}

/************************************/

}



